.paytone {
  font-family: "Paytone One", sans-serif;
}

.comfortaa {
  font-family: Comfortaa, cursive;
}

.radial-blob {
  z-index: -10;
  width: 30vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: absolute;
  translate: -50% -50%;
  background: linear-gradient(to right, #fabcff 0%, #9ffff0 50%, #8ab8fd 100%);
  animation: rotate 20s infinite;
  transition: all 3s;
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  100% {
    rotate: 360deg;
  }
}

.m-0-auto {
  margin: 0 auto;
}

.title {
  color: #676767;
}

.description {
  font-family: Comfortaa, cursive;
  font-size: 20px;
  color: #323232;
}

.w-25 {
  width: 35%;
  padding: 0% 3.5%;
}

.w-35 {
  width: 35%;
  padding: 5% 3.5%;
}

.l-h {
  line-height: 2rem;
}

.p-top {
  padding-top: 20px;
}

.loginback {
  background-color: rgba(201, 201, 201, 0.3);
  border-radius: 24px;
  font-family: Comfortaa, cursive;
}

.inner {
  z-index: -8;
}

.row {
  display: flex;
  justify-content: space-between;
}

.logint {
  font-size: 40px;
  color: #555;
  text-align: center;
}

.login {
  font-size: 20px;
  color: #323232;
  padding-bottom: 20px;
}

.forgot {
  font-size: 16px;
  text-align: end;
  color: #838383;
}

.to {
  margin-bottom: 40px;
}

.inp {
  background: transparent;
  border: none;
  border-bottom: 2px solid #646464;
  width: 100%;
  display: flex;
}

.lo {
  margin-bottom: 10px;
}

.button-login {
  background-color: #838383;
  width: 80%;
  height: 15%;
  font-size: 24px;
  font-family: Comfortaa, cursive;
  letter-spacing: 6.5%;
  color: white;
  border: none;
  border-radius: 10px;
  margin: 75px 50px 0;
  transition: 1s ease;
}

.button-login:hover {
  background-color: #7ecbc0;
}
