/* body {
  overflow: ;
} */

.paytone {
  font-family: "Paytone One", sans-serif;
}

.comfortaa {
  font-family: Comfortaa, cursive;
}

.radial-blob {
  translate: -50% -50%;
  background: linear-gradient(to right, #fabcff 0%, #9ffff0 50%, #8ab8fd 100%);
  animation: rotate 20s infinite;
  transition: all 3s;
}

.fade-in {
  opacity: 0;
  animation: fade-in 1s ease-in-out 1.5s forwards;
}

.fade-in:nth-child(1) {
  animation-delay: 0.2s;
}

.fade-in:nth-child(2) {
  animation-delay: 0.8s;
}

.fade-in:nth-child(3) {
  animation-delay: 1.4s;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  100% {
    rotate: 360deg;
  }
}

.forgot {
  font-size: 16px;
  text-align: end;
  color: #838383;
}

.to {
  margin-bottom: 40px;
}

.button-login,
.button-upload {
  border-radius: 10px;
  margin: 75px 50px 0;
  transition: 1s ease;
}

.button-login:hover {
  background-color: #7ecbc0;
}

.button-upload:hover {
  transition: 0.3s;
  background-color: #9ffff0;
}

.button-upload:active {
  transition: 0.1s;
  transform: translateY(2px);
}

.button-tables {
  background-color: #ffd5e9;
  border-radius: 50%;
  height: 60px;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  transition: min-width 0.2s ease;
}

.button-tables:hover {
  min-width: 200px;
}

.text-tables {
  position: absolute;
  top: 50%;
  right: 25%;
  transform: translateY(-50%);
  padding: 0 10px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.1s;
}

.button-tables:hover .text-tables {
  visibility: visible;
  opacity: 1;
}

th,
td {
  padding: 5px 20px;
}

tr,
th,
td {
  border: 2px solid black;
}

tr:nth-child(odd) {
  background-color: rgba(212, 212, 212, 0.8);
}

tr:nth-child(even) {
  background-color: #fff;
}

.line-table:nth-child(even) {
  padding-top: 40px;
  border-top: 2px;
  border-style: solid;
  border-color: grey;
}

input::file-selector-button {

}

.full {
  display: block;
  width: 100%;
}
